.idea/hebrew-excel-to-google-calendar-events.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
__pycache__/
more1years_of_hebrew_dates_v1.xlsx
pic expland.docx
token_calendar_v3.pickle